.Disciplines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
}

.Disciplines li {
    margin: 0;
    list-style: none;
    width: 340px;
    border-radius: 4px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.05);
    transition: all 0.3s ease-out;
    background-color: white;
}

.Disciplines li:hover {
    transform: scale(1.05);
}

.Disciplines li:last-of-type {
    margin: 0px;
}

.Disciplines li div {
    padding: 10px 5px;
}

.Disciplines img {
    height: 340px;
    width: 340px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.Disciplines a {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 340px;
    color: black;
    border-radius: 4px;
}

.DisciplineBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DisciplinePeriod {
    background-color: #015C53;
    padding: 10px;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 850px) {
    .Disciplines {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .Disciplines {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .Disciplines li {
        width: 400px;
    }

    .Disciplines img {
        height: 400px;
        width: 400px;
    }

    .Disciplines a {
        height: 400px;
        width: 400px;
    }
}