.Disciplines {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.Disciplines li {
    margin: 0px 0px 20px 0px;
    list-style: none;
    max-width: 300px;
    border-radius: 3px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
}

.Disciplines li:last-of-type {
    margin: 0px;
}

.Disciplines li div {
    padding: 10px 5px;
}

.Disciplines img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.Disciplines a {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    color: black;
}

.DisciplineBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DisciplinePeriod {
    background-color: #052941;
    padding: 10px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .Disciplines {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    .Disciplines {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}