* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto";
}

main > div {
    padding: 20px;
    margin-bottom: 54px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
}

li {
    margin-left: 20px;
}

p,
li {
    font-size: 16px;
}

::selection {
    background-color: #DBF228;
}

@media (min-width: 800px) {
    main {
        max-width: 100%;
        margin: 0 0 0 64px;
    }

    main>div {
        margin: 0 auto;
        max-width: 1200px;
    }
}