* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto";

    background-color: black;
}

main {
    background-color: #FAFAFA;
}

main>div {
    padding: 20px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}

footer {
    margin-bottom: 56px;
    text-align: center;
    padding: 12px;
    background-color: black;
    color: #FAFAFA;
}

footer>section {
    padding: 0px 4px;
}

img {
    max-width: 100%;
}

li {
    margin-left: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3,
h4,
h5,
h6 {
    font-size: 24px;
}

p,
li,
span,
a {
    font-size: 20px;
}

@media (min-width: 800px) {
    main {
        max-width: 100%;
        margin: 0 0 0 88px;
    }

    footer {
        margin: 0 0 0 88px;
    }

    main>div {
        margin: 0 auto;
    }
}