.Home h1 {
    text-align: center;
}

.Home>section>div {
    padding: 12px 0px;
}

.Maintainers {
    text-align: center;
}

.Maintainers>div {
    margin-bottom: 20px;
}

.Maintainers>div:last-of-type {
    margin-bottom: 0px;
}

.Maintainers img {
    border-radius: 4px;
    max-width: 200px;
}

.Notices {
    text-align: center;
}

.Notices img {
    width: 200px;
}

.Why img {
    width: 96px;
}

.Why>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Why ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Why li {
    margin-left: 8px;
    padding: 4px;
}

@media (min-width: 800px) {
    .Maintainers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
}

@media (min-width: 1000px) {
    .Maintainers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
    }

    .Maintainers>div {
        margin-bottom: 0px;
    }
}