.Home h1 {
    padding-bottom: 10px;
    text-align: center;
}

.Maintainers {
    margin-top: 20px;
    text-align: center;
}

.Maintainers>div {
    margin-bottom: 20px;
}

.Maintainers>div:last-of-type {
    margin-bottom: 0px;
}

.Maintainers img {
    border-radius: 4px;
    max-width: 200px;
}

.Notices {
    text-align: center;
}

.Notices img {
    width: 200px;
}

.Thank {
    margin-top: 20px;
}

@media (min-width: 800px) {
    .Maintainers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
}

@media (min-width: 1000px) {
    .Maintainers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
    }
}