.NavBar {
    display: flex;
    background-color: #052941;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.NavBar>a {
    font-size: 24px;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: white;
}

@media (min-width: 800px) {
    .NavBar {
        flex-direction: column;
        width: 64px;
        height: 100%;
    }
}