.NavBar {
    display: flex;
    background-color: #052941;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.NavBar a {
    font-size: 32px;
    text-align: center;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.NavBar a:hover {
    color: #DBF228;
    transition: all 0.4s;
}

@media (min-width: 800px) {
    .NavBar {
        flex-direction: column;
        width: 88px;
        height: 100%;
    }

    .NavBar a {
        font-size: 40px;
    }
}