.NavBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-around;
}

.NavBar > a {
    font-size: 24px;
    color: white;
}