.PostSingle>h1 {
    color: #015C53;
    text-align: center;
    font-size: 48px;
}

.PostSingle>h2 {
    color: #015C53;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    text-decoration: overline;
}

.PostSingle>div {
    padding: 20px 0px;
}

.PostSingle>div h1 {
    padding: 15px 0px;
    font-size: 30px;
}

.PostSingle>div h2 {
    padding: 15px 0px;
    font-size: 24px;
    color: #9EC12F;
}

.PostSingle>div h3,
.PostSingle>div h4,
.PostSingle>div h5,
.PostSingle>div h6 {
    padding: 10px 0px;
    font-size: 18px;
}

.PostSingle li {
    padding: 5px 0px;
}

.PostSingle table {
    border: 1px solid black;
}

.PostSingle td,
.PostSingle th {
    padding: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.Contribute a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
    max-width: 190px;
    margin-left: auto;
    background-color: #015C53;
    color: white;
    border-radius: 3px;
}

.Contribute img {
    width: 32px;
    filter: invert();
}

@media (max-width: 800px) {
    .Contribute {
        margin-bottom: 5px;
    }
}